KAFKA_BROKERS=kafka-1:29092,kafka-2:29093,kafka-3:29094
SCHEMA_REGISTRY_URL=http://schema-registry:8081
KAFKA_GROUP_ID=sports-consumer-group
REDIS_URL=redis://redis:6379
PRODUCER_PORT=3001
CONSUMER_PORT=3002
NODE_ENV=production
